body {
    background-color: #BFBBFF;
}


table, td, th {
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
hr {
    background-color: white;
    border: 1px solid white;
    
}