#dropzone {
    display: flex;
    background-color: #BFBBFF;;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 34em;

    border: 1px solid green;
}

#dropzone input {
    border: 1px solid #92b0b3;
    background: #f1f1f1;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    padding: 100px 0px 100px 250px;
    text-align: center !important;
    width: 500px;
}
#dropzone input:hover {
    background: #ddd;
}

#dropzone:before {
    position: absolute;
    bottom: 50px;
    left: 245px;
    content: " (or) Drag and Drop files here. ";
    color: #3f8188;
    font-weight: 900;
}