# Gradle
.gradle
build
bin

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.synctex(busy)
*.dvi
*.out
*.bcf
*.run.xml

# BibTeX
*-blx.bib
*.bbl
*.blg

# OS X
.DS_Store

# vs code
.vscode

# Databases
*.db

# Codetogether
.codetogether.ignore

# Tinylog
logs

# Test files
*.priv
*.tx