body {
    position: absolute;
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: #22277A;
    height: 97%;
    width: 98%;
}

nav {
    margin-left: 0.5%;
    width: min-content;
    height: 88%;
}

section {
    margin-left: 0.5%;
    width: min-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content:center;
}


nav button {
    margin-top: 40%;
    
    background-color: #22277A;
    color: white;

    border: 0;
    padding: 0.5em;
    transition: 250ms;
}

nav button:hover {
    color: #22277A;
    background-color: white;
    border-radius: 20%;
    cursor: pointer;
}

main {
    position: relative;
    background-color: #BFBBFF;

    margin-left: 0.5%;
    width: 96%;
    height: 94%;
    border-radius: 0.75em;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0.15em solid white;
    border-radius: 0.75em;
}

img {
    width: 3em; 
    height: 3em;
    cursor: pointer;
}